---
# Only the main Sass file needs front matter (the dashes are enough)
---

table {
    margin-bottom: 2rem;
}

.icon {
    width: 20px;
    height: auto;
}

.float-left {
    float: left;
}

h1 a:hover {
    text-decoration: none;
}

.didot-header {
    font-family: 'DidotLTPro-Roman';
    font-weight: normal;
    font-size: 2.75rem;
}

.didot {
    font-family: 'DidotLTPro-Roman';
    font-weight: normal;
}
