<footer class="container px2 py3">
<script src="/js/vendor/jquery-2.2.3.min.js"></script>
<script src="/js/script.js"></script> 
<div class="clearfix">

    <div class="gray">
        <div class="center full-width">
            <p class="inline-block p1">&copy; {{ site.time | date: '%Y' }} Jean Mishkin</p>
            <a class="inline-block p1 gray" href="mailto:{{ site.email }}">{{ site.email }}</a>
            <p class="inline-block p1">917-873-5326</p>

        </div>
    
        <div class="center p1">
            <span class="p1">
                {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
                {% endif %}
            </span>
            <span class="p1">
            {% include icon-github.html username="Jean-Mishkin-Editing-222584354461610" %}
            </span>
        </div>

    </div>

</div>

</footer>
