<header class="site-header full-width">

<div class="col-11 sm-col-9 md-col-8 lg-col-7 mx-auto px2 mt4 center">
    <div class="clearfix bg-white">
        <img src="{{ site.url }}/images/logo.png" class="mt3 center">
        <h1 class="didot-header full-width block py1 mb0 mt2">
            <a class="" href="{{ site.url }}/">{{ site.title }}</a>
        </h1>
        <h2 class="didot mt0 mb0 regular">
            Editing
        </h2>
        <span class="border-bottom ml4 mr4 mt3 block"></span>
        <a id="js-mobile-nav-trigger" href="#" class="sm-hide p1 center block">
            Menu
            <svg class="icon sm-show sm-hide" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 15" enable-background="new 0 0 18 15" xml:space="preserve">
            <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
            <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
            <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
            </svg>
        </a>

        <nav class="center py1 px2">
        <div id="js-mobile-nav" class="sm-hide hide">
            <a class="block p1 border-bottom border-top" href="{{ site.url }}/college/">College</a>
            <a class="block p1 border-bottom" href="{{ site.url }}/art-school/">Art school</a>
            <a class="block p1 border-bottom" href="{{ site.url }}/theses/">Theses</a>
            <a class="block p1 border-bottom" href="{{ site.url }}/fellowships/">Fellowships</a>
            <a class="block p1 border-bottom" href="{{ site.url }}/internships-jobs/">Internships & Jobs</a>
            <a class="block p1 border-bottom" href="{{ site.url }}/about/">About</a>
            <a class="block p1 border-bottom" href="{{ site.url }}/contact/">Contact</a>
        </div>
        <div class="sm-show">
            <a class="inline-block p1" href="{{ site.url }}/college/">College</a>
            <a class="inline-block p1" href="{{ site.url }}/art-school/">Art school</a>
            <a class="inline-block p1" href="{{ site.url }}/theses/">Theses</a>
            <a class="inline-block p1" href="{{ site.url }}/fellowships/">Fellowships</a>
            <a class="inline-block p1" href="{{ site.url }}/internships-jobs/">Internships & Jobs</a>
            <a class="inline-block p1" href="{{ site.url }}/about/">About</a>
            <a class="inline-block p1" href="{{ site.url }}/contact/">Contact</a>
        </div>
        </nav>
    </div>
</div>

</header>
